body{
    background-color: azure;
    color: black; /*Text color*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 36pt;
}
h5{
    text-align: center;
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    opacity: 75%;
    font-weight: bold;
}
a{
    color: cornflowerblue;
    position: relative;
    float: right;
    bottom: auto;
    margin-right: 7pt;
}
a:hover{
    color: black !important;
}
a:visited{
    color: purple;
}
img{/*box model*/
    border: 2px solid purple;
    padding: 3px;
    margin: 5px;
    /*display: block;/*centers stuff (the right way)*/
    /*margin: auto;*/
}
.imgcenter{
    display: block;
    margin: auto;
}
.resumepic{
    border: 3px solid goldenrod;
}
.rizz{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    font-style: oblique;
    color: darkslategrey;
}
.rizz:hover{
    font-style: italic;
    border: none;
}
h2{
    font-weight: lighter;
    font-style: oblique;
}
ul{
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ol{
    line-height: 25pt;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tableau{
    margin-right: 12pt;
}
    
